name: Construir APK Rápido
on:
  push:
    branches: [ "master", "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Configurar Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true # ATIVANDO O CACHE AQUI

      - name: Baixar Dependências
        run: flutter pub get

      - name: Construir APK (Release)
        run: flutter build apk --release

      - name: Upload do APK
        uses: actions/upload-artifact@v4
        with:
          name: bubble-tycoon-apk
          path: build/app/outputs/flutter-apk/app-release.apk
