name: Construir APK Auto-Versionado
on:
  push:
    branches: [ "master", "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Configurar Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Baixar Dependências
        run: flutter pub get

      - name: Gerar Ícones (Garante que o icone novo vai)
        run: dart run flutter_launcher_icons

      # AQUI ESTÁ A MÁGICA DA AUTOMAÇÃO:
      - name: Construir APK (Com Versão Automática)
        run: flutter build apk --release --build-number=${{ github.run_number }}

      - name: Upload do APK
        uses: actions/upload-artifact@v4
        with:
          name: bubble-tycoon-v${{ github.run_number }}
          path: build/app/outputs/flutter-apk/app-release.apk
